<div style = "position:absolute; left:0px; top:0px;">
    <app-history></app-history>
 </div>
 <div style = "position:absolute; left:500px; top:0px; "><router-outlet></router-outlet></div>
 <div style = "position:absolute; left:500px; top:50px;"><app-video-view></app-video-view></div>
 <div style = "position:absolute; left:1500px; top:0px; "><app-bookmarks></app-bookmarks></div>

 <div style = "position:absolute; left:0px; top:700px; "> You have {{bookmarksService.bookmarks.length}} bookmark(s)</div>